@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    padding-top: 90px;
    background-color: snow;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
