<div class="p-5 text-center bg-image home">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <div class="center">
                    <div class="logo">
                        <img height="200px" width="200px" src="../../assets/images.png" alt="logo">
                    </div>
                </div>
                <div class="main-title">
                    <h1 class="deepshd"> Environmental Monitoring Systems </h1>

                </div>
            </div>
        </div>
    </div>
</div>