<h1 mat-dialog-title class="dialog-header">{{monitorName}}</h1>
<div mat-dialog-content class="mat-dialog-content">
    <ul>
        <div class="tag-item">

            <li *ngFor="let tag of tags">

                <div class="my-table">
                    <div [ngStyle]="{'background-color': tag.Color}" class="my-table-cell cell-color"></div>
                    <div id="solution" class="my-table-cell cell-label">
                        <p>{{tag.Label}}</p>
                    </div>
                </div>
                <div class="color-display"></div>

            </li>
        </div>

    </ul>
</div>
<div mat-dialog-actions class="mat-dialog-actions actions">
    <button mat-button (click)="close()" mat-dialog-close class="mat-raised-button">Close</button>
</div>