.actions{
    text-align: center;
    margin-top: 15px;
    margin: auto;
  
    width: min-content;
}
h1{
    text-align: center;
}

.dialog-header{
    background-color: rgba(0, 0, 0, 0.281);
}
li{
    list-style: none;
    margin-top: 4px;
}


.my-table{
    display:table;
    height: 12px;

}
.my-table-cell{
    display:table-cell;
}
.cell-color{
    width: 20px;
}
.cell-label{
    padding-left: 10px;
    
}
p{
    margin: auto;
}
        